


   
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fff;
}

/*
 :root {
  --white: #FFFFFF;
  --grey: #999CA0;
  --grey-1:#F0F2F5;
  --grey-4:#666666;
  --grey-2: #ccc;
  --grey-3: #f2f2f2;
  --blue: #2a1899;
  --dark-grey-1: #F6F6F6;
  --dark-grey-2: #EEEEEE;
  --yellow: #F9D900;
  --green-1: #6BC950;
  --green-2: #2ECD6F;
  --purple-2: #F2F0FD;
  --purple: #A875FF;
  --dark-grey-3: #828282;
  --light-grey: #ABAEB1;
  --red:#BD162D;
  --light-purple-1: #F5F3FE;
  --blue-1: #7B68EE;
  --background: #F0F2F5;

} 
*/
/*
:root{
--white:#FFFFFF;
--grey:#999CA0;
--blue:#2a1899;
--dark-grey-1:#F6F6F6;
--dark-grey-2:#EEEEEE;
--yellow:#F9D900;
--green-1:#6BC950;
--green-2:#2ECD6F;
--purple-2:#F2F0FD;
--purple:#A875FF;
--dark-grey-3:#828282;
--light-grey:#ABAEB1;
--red:#F6A1A1;

--light-purple-1:#F5F3FE;
--blue-1:#7B68EE;


  --white:#fff;
  --red:#BD162D;
  --red2:#D76F2D;
  --dark-1:#222222;
  --blue-1:#23608c;
  --blue-2:#2364c4;
  --grey: #F0F2F5;
  --grey1: #333;
  --white: #fff;
--transition-1: cubic-bezier(.51, .03, .04, .28);
--transition-2: cubic-bezier(.33, .05, .56, 1.02);
  --light-green:#DAF2C2;
  --gradient1:#0B1F41;
  --blue-2:#3b5998;
  --dark-blue:#081b36;
  --dark-grey:#2f2e2e;
  --blue: #1B74E4;
  --green: #31A24C;

  --grey-2: #E4E6EB;

  --dark-2: #1D1F23;

  --blue-3: #007DF2;

}
*/



:root {
  --white:#fff;
  --red:#BD162D;
  --red2:#D76F2D;
  --dark-1:rgb(34, 34, 34);

  --blue-1:#23608c;
  --grey:rgb(44, 44, 44);
  --grey-1: rgba(209, 209, 209, 1);
  --grey-2: #ccc;
  --grey-3: #f2f2f2;
  --grey-4: #e6e4e4;
  --light-green:#DAF2C2;
  --gradient1:#0B1F41;
  --blue-2:rgba(25, 0, 213, 1);
  --dark-blue:#081b36;
  --green: #31A24C;
  --blue-3: #1D1F23;

  --text-color: #222222;
} 

/*grey:#202124;
blacx:#202124;*/
.dark-theme {
  --white: #222;
  --red: #BD162D;
  --red2: #D76F2D;
  --dark-1: #666666;
  --blue-1: #23608c;
  --blue-2: #081b36;
  --grey: #666666;
  --grey-2: #444;
  --grey-3: #333;
  --light-green: #DAF2C2;
  --gradient1: #07111e;
  --blue-2: #2364C4;
  --dark-blue: #081b36;
  --green: #31A24C;
  --blue-3: #7B68EE;

  --text-color: #ffff;
}

.light-theme {
  --white: #fff;
  --red: #BD162D;
  --red2: #D76F2D;
  --dark-1: #222222;
  --blue-1: #2364C4;
  --blue-2: #2364C4;
  --grey: #666666;
  --grey-2: #ccc;
  --grey-3: #f2f2f2;
  --light-green: #DAF2C2;
  --gradient1: #0B1F41;
  --dark-blue: #081b36;
  --green: #31A24C;
}

.hidden {
  overflow: hidden;
}
/* 
:root {
  --primary: #e2ba07;
  --white: #FFFFFF;
  --dark-2: #353030;
  --dark-1: #101A24;
  --grey: #C4C4C4;
  --dark-3: #2F2A2A;
}  */

html {
  font-size: 62.5%;

}


button {
  font-family:"Barlow", sans-serif;
  text-transform:uppercase; 
}

input {
  font-family:"Barlow", sans-serif;

}

html {
  font-size: 62.5%;
  
}

@media (max-width: 1080px) {
  html {
    font-size:50%;
  }
  
}