.text-animate {
  display: inline-block;
  opacity: 1;
  animation: zoomInDown 1s 1.3s forwards;
  animation-delay: 1s;
  animation-fill-mode: both;
  min-width: 6px;
}

.text-bounce {
  display: inline-block;
  opacity: 1;
  animation: bounceInDown 1s 1.3s forwards;
  animation-delay: 1s;
  animation-fill-mode: both;
  min-width: 6px;
}

.text-animate-hover {
  min-width: 6px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: var(--primary-color);
  }
}

@for $i from 1 through 60 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 45}s;
  }
  .text-bounce._#{$i} {
    animation-delay: #{$i / 40}s;
  }
}
